<div class="sticky">
<div class="container">
  <nav class="nav justify-content-center ">
    <li class="nav-item">
      <a class="nav-link " routerLink="/createQuestion">Create Question</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/updateQuestion" >Update Question</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/deleteQuestion" >Delete Question</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/questionsList" >Questions list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/searchQuestion" >Search Question</a>
    </li>
  </nav>
</div>
</div>
<br><br>