
<div class="box">
    <div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
</div>
<div class="container-fluid">
    <h1>Welcome to Quizzer!</h1>    
    <br><br>
    <h2 style="margin-left: 125px;">Attempt a quiz to get started..</h2>
    <h2 style="margin-left: 125px;">Feel like you can contribute something??.. 
        <a style="color: bisque; text-decoration: none; cursor: pointer;" routerLink="/quiz" > click here</a></h2>
</div>
